<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .select_filter2 {
            border: 1px solid #d7d7db;
            padding: 16px;
            border-radius: 4px;
            float: left;
            width: 150px;
            height: 353px;
            clear: both;
            margin-top: 20px;
            margin-left: 200px;
            padding-top: -20px;
            margin-bottom: 2000px;
        }
  </style>
</head>
<body>
  <div class="select_filter2">
    <div class="search_bufilter2">
      <p class="filter_butitle">기간/인원</p>
      <br>
      <p class="filter_butitle">여행지</p>
      <br>
      <p class="filter_butitle">숙소</p>
      <br>
      <p class="filter_butitle">활동</p>
    </div>
  </div>
</body>
</html>