<h1>Create a New Chat Room</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="room_name">방이름:</label>
    <input type="text" id="room_name" name="room_name" required><br>

    <label for="room_capacity">인원:</label>
    <input type="number" id="room_capacity" name="room_capacity" required><br>

    <label for="room_location">장소:</label>
    <input type="text" id="room_location" name="room_location" required><br>

    <label for="room_date">날짜:</label>
    <input type="date" id="room_date" name="room_date" required><br>

    <label for="room_image">이미지:</label>
    <input type="file" id="room_image" name="room_image" accept="image/*"><br>

    <button type="submit">만들기</button>
</form>
