<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>새 활동 추가하기</title>
</head>
<body>
    <h1>새 활동 추가</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="name">활동 이름:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="price">가격:</label>
            <input type="number" id="price" name="price" step="0.01" required>
        </div>
        <div>
            <label for="photo">사진:</label>
            <input type="file" id="photo" name="photo" required>
        </div>
        <div>
            <label for="location">위치:</label>
            <input type="text" id="location" name="location" required>
        </div>
        <div>
            <label for="telephone">전화번호:</label>
            <input type="text" id="telephone" name="telephone" required>
        </div>
        <div>
            <label for="time">시간:</label>
            <input type="text" id="time" name="time" required>
        </div>
        <div>
            <label for="category">카테고리:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <div>
            <button type="submit">활동 추가</button>
        </div>
    </form>
</body>
</html>