<!-- templates/home.html -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <form action="{% url 'Accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Welcome, guest!</p>
        <a href="{% url 'Accounts:login' %}">Login</a>
    {% endif %}
    <div class="spots" #관광지띄우는곳>
    {% for spot in tourist_spots %}
        <h2>{{ spot.name }}</h2>
        <p>Location: {{ spot.location }}</p>
        <img src="{{ spot.image.url }}" alt="{{ spot.name }}">
    {% endfor %}
    </div>
</body>
</html>
