.active_list{
    border: 1px solid;
}
.acitve_checkbox{
    display: inline-block;
    width: 100px;
    
}
.active>img{
    width: 333px;
    height: 209px;
    display: inline-block;
    margin-top: 30px;
}

.acitve_text{
    display: inline-block;
    text-align: center;
}

.active_seach{
    border: 1px solid;
    width: 800px;
    height: 40px;
}