.search_word{
    display: flex;
    justify-content: center;
}
.result_query{
    display: inline-block;
    margin-right: 30px;
    color: #2295ff;
    font-size: 40px;
}
.search_result{
    display: inline-block;
    margin-right: 30px;
    font-size: 40px;
}

.search_item{
    display: flex;
    justify-content: center;
    margin: 30px;

}

.search_text{
    width: 1200px;
    height: 50px;
    border-radius: 30px;

    padding: 10px;
}

.search_text::placeholder{
    color: #676767;
    font-size: 21px;
}

.result_list{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_content{
    border: 1px solid;
    width: 1200px;
    height: 274px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.place_img{
    width: 268px;
    height: 222px;
    margin-right: 30px;
    margin-left: 20px;
}

.place_detail{
    flex-grow: 1;
    margin-right: 30px;
}

.place_name{
    font-size: 50px;
    margin: 0;
}

.place_tag{
    color: #848484;
    font-size: 20px;
    margin-top: 10px;
}

.place_info{
    color: #5e5e5e;
    font-size: 19px;
}