<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form method="post" action="{% url 'Accounts:login' %}">
        {% csrf_token %}
        <label for="email">이메일:</label><br>
        <input type="email" class="form-control" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}"><br>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password" value="{{ form.password.value|default_if_none:'' }}"><br>
        <button type="submit">로그인</button>
    </form>
</body>
</html>
