<!DOCTYPE html>
{% include 'Navbar.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <form method="post" action="{% url 'Accounts:signup' %}">
        {% csrf_token %}
        <label for="username">사용자 이름:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="email">이메일:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="age">나이:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="mbti">MBTI:</label><br>
        <input type="text" id="mbti" name="mbti"><br>
        <label for="gender">성별:</label><br>
        <select id="gender" name="gender">
            <option value="male">남자</option>
            <option value="female">여자</option>
        </select><br>
        <button type="submit">가입하기</button>
    </form>
</body>
</html>
